@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Raleway';
    ;
  background-color: var(--color-1);
  color: var(--color-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background: #000328;
  margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#FE53BB, #09FBD3);
  border-radius: 100vw;
  max-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#d4459b, #07cfad);
}

@supports (scrollbar-color:  red blue){
  *{
    scrollbar-color: #FE53BB #000328;
  }
}

:root {
  --color-1 : #000328;
  --color-2 : white;
  --color-3 : #FFA611;
  --color-4 : #F5820D;
  --color-5 : #FFCB2B;
}


